<section class="main-footer">
	<div class="auto-container">
    	<div class="widgets-section">
            <div class="row clearfix">
            
            	<!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    
                    	<!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
							<!--Contact Widget-->
                            <div class="footer-widget contact-widget">
								<h2>Contact Us</h2>
                                <div class="widget-content">
                                	<div class="text">Bring to the table win-win survival <br> strategies to ensure proactive.</div>
                                    <ul class="list-style-one">
                                    	<li><span class="icon flaticon-maps-and-flags"></span>123 Third Street Fifth , Manhattan, New York, USA</li>
                                        <li><span class="icon flaticon-web"></span>Support@flooring.com</li>
                                        <li><span class="icon flaticon-smartphone"></span>+(1800) 123 4567</li>
                                    </ul>
                                </div>
							</div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
							<!--link Widget-->
                            <div class="footer-widget link-widget">
								<h2>Services</h2>
                                <div class="widget-content">
                                	<ul>
                                    	<li><a href="index.html#">Floor Repair</a></li>
                                        <li><a href="index.html#">Custom Design</a></li>
                                        <li><a href="index.html#">Floor Paving</a></li>
                                        <li><a href="index.html#">Refinishing Floor</a></li>
                                        <li><a href="index.html#">Wooden Staircase</a></li>
                                        <li><a href="index.html#">Dustless Floor</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!--Big Column-->
               
                
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Logo Column-->
                <div class="logo-column pull-left col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-image">
                        <a href="/"><img src="images/footer-logo.png" alt="" /></a>
                    </div>
                </div>
                <!--Social Column-->
                <div class="social-column pull-right col-md-4 col-sm-12 col-xs-12">
                    <ul class="social-icon-one">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
                <!--Copyright Column-->
                <div class="copyright-column col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright">&copy; 2017 Cordoba All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</section>