 
 <header class="main-header">
	<div class="main-box">
    	<div class="auto-container">
        	<div class="outer-container clearfix">
                <div class="logo-box">
                    <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
                </div>
                
                <!--Nav Outer-->
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->    	
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                               <li><a href="/">Home</a></li>
                                	
                                
                                <li>
                                <a href="/about">About Us</a>
                                </li>
                                	
                               
                                <li class="dropdown"><a href="/service">Services</a>
                                	<ul>
                                        <li><a href="/service">Services</a></li>
                                        <li><a href="/service">Refinishing Floor</a></li>
                                        <li><a href="/service">Custom Design</a></li>
                                        <li><a href="/service">Floor Repair</a></li>
                                        <li><a href="/service">Wooden Straircase</a></li>
                                        <li><a href="/service">Tiles Flooring</a></li>
                                        <li><a href="/service">Floor Paving</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="/blog">Blog</a>
                                	
                                </li>
                               	<li><a href="/contact">Contact</a></li>
                             </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    
                    <!--Search Box-->
                    <div class="search-box-outer">
                        <div class="dropdown">
                            <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                            <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu3">
                                <li class="panel-outer">
                                    <div class="form-container">
                                        <form method="post" action="/blog">
                                            <div class="form-group">
                                                <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--Nav Outer End-->
                
        	</div>    
        </div>
    </div>
</header>