
    <section class="page-title" style="background-image:url(images/background/2.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>404 Error</h1>
                </div>
               
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">404 Error</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="eror-section">
    	<div class="auto-container">
        	<div class="error-image">
            	<img src="images/resource/error-image.png" alt="" />
            </div>
            <h4>Oops! Page Not Found</h4>
            <div class="text">Page you were looking for could not be found. </div>
            <a href="/" class="theme-btn btn-style-one"><span class="fa fa-home"></span>&ensp; BACK TO HOME</a>
        </div>
    </section>
