 
  <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/2.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-8 col-xs-12">
                    <h1>Contact Us</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Contact Section-->
    <section class="contact-page-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Form Column-->
                <div class="column form-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Send Message</h2>
                        <!--Contact Form-->
                        <div class="contact-form">
                            <form method="post" action="http://t.commonsupport.com/cordoba/sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="name" value="" placeholder="Username" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" name="email" value="" placeholder="Email" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" name="phone" value="" placeholder="Phone Number" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <textarea name="message" placeholder="Message"></textarea>
                                    </div>
                                    
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one">Send Message</button>
                                    </div>
                                    
                                </div>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
                <!--Info Column-->
                <div class="column info-column col-md-5 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h2>Contact Details</h2>
                        <div class="information-blocks">
                            <div class="text">Aliquam vitae mi a eros tincidunt ultricies. Donec porta gravida arcu. Morbi facilisis lorem felis, eu inerdum quam scelerisqueeu inerdum quam scelerisque eu.</div>
                            <!--Contact Info-->
                            <div class="contact-info">
                                <div class="inner">
                                    <div class="icon-box">
                                        <span class="flaticon-maps-and-flags"></span>
                                    </div>
                                    <h3>Address</h3>
                                    <div class="text">4 Main Street, MA 200, Australia</div>
                                </div>
                            </div>
                            
                            <!--Contact Info-->
                            <div class="contact-info">
                                <div class="inner">
                                    <div class="icon-box">
                                        <span class="flaticon-web"></span>
                                    </div>
                                    <h3>Email</h3>
                                    <div class="text">Info@Cordoba.com</div>
                                </div>
                            </div>
                            
                            <!--Contact Info-->
                            <div class="contact-info">
                                <div class="inner">
                                    <div class="icon-box">
                                        <span class="flaticon-technology"></span>
                                    </div>
                                    <h3>Phone</h3>
                                    <div class="text">(1800) 123 4567, (1800) 123 4568</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contact Section-->
    