<div class="preloader"></div>
<section class="page-title" style="background-image:url(images/background/2.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>Services</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <section class="services-section-two alternate">
    	<div class="auto-container">
        	
            <div class="row clearfix">
            	
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="/service"><img src="images/resource/services-1.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<div class="content">
                            	<a href="/service" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                            	<h3><a href="/service">Refinishing Floor</a></h3>
                                <div class="text">Clean & Dust free</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="/service"><img src="images/resource/services-3.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<div class="content">
                            	<a href="/service" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                            	<h3><a href="/service">Custom Design</a></h3>
                                <div class="text">Colours and Styles</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="/service"><img src="images/resource/services-2.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<div class="content">
                            	<a href="/service" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                            	<h3><a href="/service">Floor Repair</a></h3>
                                <div class="text">Fix a Squeaky Floor Board</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="/service"><img src="images/resource/services-4.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<div class="content">
                            	<a href="/service" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                            	<h3><a href="/service">Wooden Staircase</a></h3>
                                <div class="text">900+ experts</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="/service"><img src="images/resource/services-5.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<div class="content">
                            	<a href="/service" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                            	<h3><a href="/service">Tiles Flooring</a></h3>
                                <div class="text">Ceramiche Refine</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="image">
                        	<a href="/service"><img src="images/resource/services-6.jpg" alt="" /></a>
                        </div>
                        <div class="lower-box">
                        	<div class="content">
                            	<a href="/service" class="arrow-box"><span class="fa fa-angle-right"></span></a>
                            	<h3><a href="/service">Floor Paving</a></h3>
                                <div class="text">Quality Solid </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </section>